* {
  padding: 0px;
  margin: 0px;
}
/* h1,
h2,
p {
  color: gray;
} */

/* Good way */

/* Bad way */
/* .a {
  background-color: aqua;
}
.b {
  background-color: aqua;
}
.c {
  background-color: aqua;
} */

/* .para {
  background-color: red;
} */

/* h1 p {
  background-color: yellow;
} */

/* .c .d {
  background-color: blue;
} */
/* 
h1 {
  background-color: rgb(31, 114, 127);
} */

/* .a {
  background-color: #ff0000;
} */

body {
  /* background-image: url("pp.jpg"); */
  /* background-repeat: no-repeat;
  font-family: cursive;
  font-size: 16px;
  font-weight: bolder; */
}

p {
  /* text-align: right; */
  /* text-decoration: overline; */
}

.e {
  /* line-height: 15px; */
  /* letter-spacing: 20px; */

  /* border: 6px solid rgb(131, 13, 13);
  padding: 15px; */
}
.d {
  /* border: 8px solid yellow; */
  /* margin: 15px; */
  /* margin-left: 30px;
  margin-bottom: 30px; */
}

.c {
  border: 5px solid black;
  padding: 20px;
  margin: 30px;
}
.dd {
  border: 2px solid red;
  /* height: 200px;
  width: 600px; */
  /* padding: 40px; */
}

div {
  display: inline;
}

span {
  display: block;
}
